<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<title>lotto List</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<div class='container-fluid '>

	<p><%- lottos.length %>
	<table class='table'>
		<tr>
			<th>회차</th>
			<th>년월일</th>
			<th>1</th>
			<th>2</th>
			<th>3</th>
			<th>4</th>
			<th>5</th>
			<th>6</th>
			<th>보너스</th>
		</tr>
		<% lottos.forEach(function(lotto,index){ %>
		<tr>
			<td><%- lotto.sno %></td>
			<td><%- lotto.sdate %></td>
			<td><%- lotto.no1 %></td>
			<td><%- lotto.no2 %></td>
			<td><%- lotto.no3 %></td>
			<td><%- lotto.no4 %></td>
			<td><%- lotto.no5 %></td>
			<td><%- lotto.no6 %></td>
			<td><%- lotto.bonus %></td>
		</tr>
		<% }) %>
	</table>
	
</div>

</body>
</html>