include include/head.pug
script.
	$('document').ready(function() {
		$('#refresh').click(function() {
			location.replace('/'); // alert('OK');
		});
		var dt = new Date();
		var today = dt.getFullYear() + '년 ';
		today += dt.getMonth() + 1 + '월 ';
		today += dt.getDate() + '일 ';

		today += dt.getHours() + '시 ';
		today += dt.getMinutes() + '분 ';
		today += dt.getSeconds() + '초 ';
		// $('#date').text(today);
	})
	
style.
	a {
		text-decoration: none;
	}
body.w3-margin.container
section.container-fluid.well.well-lg
	h2 로또번호 추출기
	p#date 생성일시 : #{today}
	ul.pagination.pagination-lg
	
		ul
		each lotto,index in lottos
			li: a #{lotto}
		button#refresh.btn.btn-warning.btn-lg 새로고침

	p#userid remote ip address : #{userip}

	if getno != ''
		h4 이미 추첨된 적이 있는 번호 입니다 ^^
		p 당첨 회차  : #{getno}
		p 당첨 일자  : #{getdate} 

	p 여기에서 생성된 로또 번호는 실제 번호와 아무런 관련이 없으며
	p 번호에 따른 책임은 구매자 본인에게 있습니다
	p &nbsp;
	a(href="/lottoview").w3-blue.w3-padding 지난 당첨번호 보기
	p &nbsp; 
	address.w3-round.w3-blue.w3-center.w3-padding-16 create by &copy; callor@callor.com
</div>
</body>
</html>
